%section.container
  %nav.header
    %a.header-brand= 'TS'
    %ul.nav.navbar-nav.navbar-right.header-links
      %li
        %a= "Blog"
      %li
        %a= "About Me"
      %li
        %a= "Portfolio"
      %li
        %a= "Let's Chat"