%div.about-main-image= image_tag '/images/stoked-matt-leonard.jpg'

%h1.about-tag-line= "Name's Leonard, Matt Leonard"

.container
  .col-md-10.col-md-offset-1
    %p.about-p= "Hey, I’m Matt Leonard and I love building great software. I recently graduated from CU Boulder with a degree in software engineering."

    %p.about-p= "During my time at CU I worked as a Ruby on Rails developer for two startups, Kapost and InvitedHome. At these companies I was able to learn everything from migrating data between MySQL and Postgres to building my own front-end frameworks. Using my knowledge I also built an automated bike shop, Shift Suppliers LLC,  and a music streaming site, Mvisc."

    %p.about-p= "I’ve most recently begun exploring Meteor.js and other JavaScript frameworks, while still continuing to grow as a RoR developer."

    %p.about-p= "When I’m not crunching code, you’ll find me at Whistler downhill mountain biking, shredding fresh snow in the Rockies, scuba diving in the caribbean or road tripping across the country."

    %h1.about-title= "Professional Experience"

    .about-section
      - @professional.each do |professional|
        = render partial: 'text_item', locals: {portfolio: professional}

    %h1.about-title= "Hobbies"

    .about-section
      - @hobbies.each_slice(2) do |hobbies|
        .container-fluid
          =  render partial: 'picture_item', locals:{portfolio: hobbies[0]} if hobbies[0]
          =  render partial: 'picture_item', locals:{portfolio: hobbies[1]} if hobbies[1]
