%div.about-main-image= image_tag '/images/biking.jpg'

%h1.about-tag-line= "Name's Leonard, Matt Leonard"

.container
  .col-md-10.col-md-offset-1
    %p.about-p= "I’m Matt Leonard and I love building complex and beautiful Rails On Ruby web apps. I’m currently a senior software engineering major at the University of Colorado"

    %p.about-p= "While not in classes, I am working as Ruby On Rails Developer at Invited Home LLC, a vacation rental startup located in Boulder, CO. Since working here for the last year, I have done everything from migrate 60,000 records from a SQL to Postgresql database to creating relational complex models and controllers to recreating the public facing front-end of the website using HTML5/CSS/jQuery."

    %h1.about-title= "Professional Experience"

    .about-section
      - @professional.each do |professional|
        = render partial: 'text_item', locals: {portfolio: professional}

    %h1.about-title= "Side Projects"

    .about-section
      - @projects.each do |project|
        = render partial: 'text_item', locals: {portfolio: project}

    %h1.about-title= "Hobbies"

    .about-section
      - @hobbies.each_slice(2) do |hobbies|
        .container
          =  render partial: 'picture_item', locals:{portfolio: hobbies[0]} if hobbies[0]
          =  render partial: 'picture_item', locals:{portfolio: hobbies[1]} if hobbies[1]
