<%= form_for([:admin, @about_me]) do |f| %>
  <% if @about_me.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@about_me.errors.count, "error") %> prohibited this about_me from being saved:</h2>

      <ul>
      <% @about_me.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :section_type %><br>
    <%= f.select :section_type, AboutMe::STATUS, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :subtitle %><br>
    <%= f.text_field :subtitle, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" , class: 'btn btn-primary' %>
  </div>
<% end %>
