<h1>Listing About Me</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @about_mes.each do |about_me| %>
      <tr>
        <td><%= about_me.title %></td>
        <td><%= about_me.section_type %></td>
        <td><%= link_to 'Show', [:admin, about_me] %></td>
        <td><%= link_to 'Edit', edit_admin_about_me_path(about_me) %></td>
        <td><%= link_to 'Destroy', [:admin, about_me], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New About me', new_admin_about_me_path %>
