%nav.headr
  %a.header-brand{href: '/'}= 'M'
  %ul.nav.navbar-nav.navbar-right.header-links
    %li= link_to "About Me", admin_about_mes_path
    %li= link_to "Portfolio", admin_portfolios_path
    %li= link_to "Let's Chat", ''
    %li= link_to('Logout', destroy_user_session_path, :method => :delete)
